<!DOCTYPE html>
<html>
<head>
  <link rel="icon"  type="image/png" href="../images/favicon.png"/>
  <title> Blog</title>
<meta name="title" content="Blog | Gabriela Alvarado">

  <meta name="description" content="P&aacute;gina personal de Mar&iacute;a Gabriela Alvarado. La inform&aacute;tica es una rama de la ingenier&iacute;a, y además es una palabra compuesta que significa: Informaci&oacute;n Autom&aacute;tica." >

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>

<style>
  a {color: #fff;}
</style>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container_">
        <div class="navbar-header">
          <img class="logo" src="../images/logo_blanco.png">
        </div>
          <ul class="nav navbar-nav">
          <ul class="nav navbar-nav navbar-right">
            
            <li>
              <a href="../index.html">&iquest;Qui&eacute;n soy? </a>
            </li>  
            <li>
              <a href="blog.html">Blog</a>
            </li>
            <li>
              <a href="cv.html">Curr&iacute;culum</a>
            </li>
          </ul>

        </div>  
      </div>
    </nav>

				<div style="margin-top: -2em;" class="space">
					<h1>Blog</h1>	

				<center>
				<div style="margin-top: 6em;" class="img-blog">
				<img class="blue_opacy" src="../images/blog_1.png">
					<div class="textimg">
					<a href="blog_1.html"><h1>NO SE TRATA DE VENDER</h1></a>
					</div>
				</div>

				<div class="img-blog">
				<img class="blue_opacy" src="../images/blog_2.png">
					<div class="textimg">
					<a href="blog_2.html"><h1>&iquest;QU&Eacute; ES REALMENTE LA INFORM&Aacute;TICA?</h1></a>
					</div>
				</div>

				<div class="img-blog">
				<img class="blue_opacy" src="../images/blog_3.png">
					<div class="textimg">
					<a href="blog_3.html"><h1>&iquest;POR QU&Eacute; SE PRODUCEN LOS GALLITOS AL CANTAR?</h1></a>
					</div>
				</div>
				</center>
				<br><br><br><br><br><br><br>

</div>


			

				<div class="footer">
          <img class="logo-azul" src="../images/logo_azul.png">

          <p class="footer-text">Mar&iacute;a Gabriela Alvarado Arellano</p>

          <a href="https://www.instagram.com/soygaby_music/"><img class="icono" src="../images/instagram.png"> &nbsp; @soygaby_music</a> &nbsp;&nbsp;

          <a href="https://www.instagram.com/soygaby_tech/"><img class="icono" src="../images/instagram.png"> &nbsp; @soygaby_tech</a>
        </div>
</div>
</body>
</html>