<!DOCTYPE html>
<html>
<head>
  <link rel="icon"  type="image/png" href="../images/favicon.png"/>
  <title> &iquest;Qu&eacute; es realmente la inform&aacute;tica?</title>

<meta name="title" content="&iquest;Qué es realmente la inform&aacute;tica?|Gabriela Alvarado">

  <meta name="description" content="P&aacute;gina personal de Mar&iacute;a Gabriela Alvarado. La inform&aacute;tica es una rama de la ingenier&iacute;a, y además es una <b>palabra compuesta que significa: Informaci&oacute;n Autom&aacute;tica..." >

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>

<style>
  a {color: #fff;}
</style>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container_">
        <div class="navbar-header">
          <img class="logo" src="../images/logo_blanco.png">
        </div>
          <ul class="nav navbar-nav">
          <ul class="nav navbar-nav navbar-right">
            
            <li>
              <a href="../index.html">&iquest;Qui&eacute;n soy? </a>
            </li>  
            <li>
              <a href="blog.html">Blog</a>
            </li>
            <li>
              <a href="cv.html">Curr&iacute;culum</a>
            </li>
          </ul>

        </div>  
      </div>
    </nav>

				<div  class="space">
				<center>
				<div style="margin-top: -1em;" class="img-blog">
				<img class="blue_opacy" src="../images/blog_2.png">
					<div class="textimg">
					<h1>&iquest;QU&Eacute; ES REALMENTE LA INFORM&Aacute;TICA?</h1>
					</div>
				</div>
        </center>
        <div style="margin-top: 15em;">
        <p>&nbsp;&nbsp;&nbsp;Seguramente te has imaginado a un <b>“doctor de computadoras”</b> pero la inform&aacute;tica va m&aacute;s all&aacute; de eso…</p><br>

        <p>&nbsp;&nbsp;&nbsp; La inform&aacute;tica es una rama de la ingenier&iacute;a, y además es una <b>palabra compuesta que significa: Informaci&oacute;n Autom&aacute;tica.</b></p><br>

        <p>&nbsp;&nbsp;&nbsp; Por lo que, es la rama de <b>la ingenier&iacute;a que se encarga de automatizar la informaci&oacute;n.</b></p><br>

        <p>&nbsp;&nbsp;&nbsp;Para ello es necesario conocer <b>hardware, software, base de datos, programaci&oacute;n, redes, y m&aacute;s.</b></p><br>

        <p>&nbsp;&nbsp;&nbsp;Sin embargo, aunque esta definici&oacute;n suene un poco t&eacute;cnica, te puedo decir que <b>conoces m&aacute;s la inform&aacute;tica de lo que crees.</b></p><br>

        <p>&nbsp;&nbsp;&nbsp;La inform&aacute;tica est&aacute; en todos lados, y <b>es completamente com&uacute;n toparnos con un dispositivo hardware (todo lo que puedes tocar) laptop, tel&eacute;fonos, computadoras, consolas. Y el software (parte l&oacute;gica), en donde interact&uacute;as con la pantalla.</b></p><br>

        <p>&nbsp;&nbsp;&nbsp; La inform&aacute;tica se encarga de que t&uacute;, <b>puedas tener acceso a las redes sociales, a juegos, comunicaci&oacute;n con personas que no compartan tu misma ubicaci&oacute;n geográfica.</b><p><br>

        <p>&nbsp;&nbsp;&nbsp; Y un sinf&iacute;n de cosas que <b>no parar&iacute;a de contar hoy.</b></p><br>

        <p>&nbsp;&nbsp;&nbsp;<b>&iquest;Qu&eacute; otro ejemplo de inform&aacute;tica podr&iacute;as agregar?</b></p><br>


        </div>

      
    </div>

			

				<div class="footer">
          <img class="logo-azul" src="../images/logo_azul.png">

          <p class="footer-text">Mar&iacute;a Gabriela Alvarado Arellano</p>

          <a href="https://www.instagram.com/soygaby_music/"><img class="icono" src="../images/instagram.png"> &nbsp; @soygaby_music</a> &nbsp;&nbsp;

          <a href="https://www.instagram.com/soygaby_tech/"><img class="icono" src="../images/instagram.png"> &nbsp; @soygaby_tech</a>
        </div>
</div>
</body>
</html>