<!DOCTYPE html>
<html>
<head>
  <link rel="icon"  type="image/png" href="../images/favicon.png"/>
  <title> &iquest;Por qu&eacute; se producen los gallitos al cantar?</title>

  <meta name="title" content="&iquest;Por qu&eacute; se producen los gallitos al cantar? | Gabriela Alvarado">

  <meta name="description" content="P&aacute;gina personal de Mar&iacute;a Gabriela Alvarado. Una <b>ruptura o desconexi&oacute;n de la voz</b> causada por la falta de control de la voz o alguna inflamaci&oacute;n en las cuerdas vocales." >
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>

<style>
  a {color: #fff;}
</style>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container_">
        <div class="navbar-header">
          <img class="logo" src="../images/logo_blanco.png">
        </div>
          <ul class="nav navbar-nav">
          <ul class="nav navbar-nav navbar-right">
            
            <li>
              <a href="../index.html">&iquest;Qui&eacute;n soy? </a>
            </li>  
            <li>
              <a href="blog.html">Blog</a>
            </li>
            <li>
              <a href="cv.html">Curr&iacute;culum</a>
            </li>
          </ul>

        </div>  
      </div>
    </nav>

				<div  class="space">
				<center>
				<div style="margin-top: -1em;" class="img-blog">
				<img class="blue_opacy" src="../images/blog_3.png">
					<div class="textimg">
					<h1>&iquest;POR QU&Eacute; SE PRODUCEN LOS GALLITOS AL CANTAR?</h1>
					</div>
				</div>
        </center>
        <div style="margin-top: 5em;">
        <p>&nbsp;&nbsp;&nbsp;</p><br>

        <p>&nbsp;&nbsp;&nbsp; Seguramente has estado cantando y <b>de repente sale un sonido poco agradable y sin esperarlo…</b></p><br>

        <p>&nbsp;&nbsp;&nbsp; Estos son los famosos <i>“gallitos”.</i></p><br>

        <p>&nbsp;&nbsp;&nbsp;Una <b>ruptura o desconexi&oacute;n de la voz</b> causada por la falta de control de la voz o alguna inflamaci&oacute;n en las cuerdas vocales.</p><br>

        <p>&nbsp;&nbsp;&nbsp;<b>Se produce cuando estamos en la zona de paso, en el punto en que debemos cambiar de registro vocal,</b> adaptar nuestra voz para cantar cómodamente otras notas.</p><br>

        <p>&nbsp;&nbsp;&nbsp; Cuando no adaptamos nuestra voz correctamente o a tiempo, <b>un excesivo flujo de aire pasa por nuestras cuerdas vocales produciendo este sonido.</b></p><br>

        <p>&nbsp;&nbsp;&nbsp; Por consiguiente, <b>se pierde la conexi&oacute;n de la nota musical que deseamos proyectar.</b></p><br>

        <p>&nbsp;&nbsp;&nbsp; Y es completamente com&uacute;n que estos salgan, <b>ni los más grandes cantantes se han salvado de los gallos.</b></p><br>

        <p>&nbsp;&nbsp;&nbsp;Pero, si bien es algo com&uacute;n que pase, <b>lo recomendable es irlo corrigiendo para prevenir una lesi&oacute;n en nuestras cuerdas vocales.</b></p><br>

        <p>&nbsp;&nbsp;&nbsp;<b>¿Sabías el por qué se producían estos gallitos?</b></p><br>

        </div>

      
    </div>

			

				<div class="footer">
          <img class="logo-azul" src="../images/logo_azul.png">

          <p class="footer-text">Mar&iacute;a Gabriela Alvarado Arellano</p>

          <a href="https://www.instagram.com/soygaby_music/"><img class="icono" src="../images/instagram.png"> &nbsp; @soygaby_music</a> &nbsp;&nbsp;

          <a href="https://www.instagram.com/soygaby_tech/"><img class="icono" src="../images/instagram.png"> &nbsp; @soygaby_tech</a>
        </div>
</div>
</body>
</html>