<!DOCTYPE html>
<html>
<head>
  <link rel="icon"  type="image/png" href="../images/favicon.png"/>
  <title> Curr&iacute;culum Vitae</title>

  <meta name="title" content="Curr&iacute;culum Vitae | Gabriela Alvarado">

  <meta name="description" content="P&aacute;gina personal de Mar&iacute;a Gabriela Alvarado Arellano. Estudiante de Ingenier&iacute;a en Inform&aacute;tica. Desarrollador Full Stack" >

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container_">
        <div class="navbar-header">
          <img class="logo" src="../images/logo_blanco.png">
        </div>
          <ul class="nav navbar-nav">
          <ul class="nav navbar-nav navbar-right">
            
            <li>
              <a href="../index.html">&iquest;Qui&eacute;n soy? </a>
            </li>  
            <li>
              <a href="blog.html">Blog</a>
            </li>
            <li>
              <a href="cv.html">Curr&iacute;culum</a>
            </li>
          </ul>
         </ul>
        </div>  
    </nav>

    <div style="margin-top: -2em;" class="space">
      <h1>Curr&iacute;culum</h1> 
    </div>

	<div class="container">
		<div class="body">
			<h2><img class="indicador" src="../images/indicador.png"><b> &nbsp;FORMACI&Oacute;N COMPLEMENTARIA</b></h2>

				<p><b>Certificado en:</b> Marketing Digital</p>
				<p><b>Dictado por:</b> Fundaci&oacute;n Telef&oacute;nica Movistar - Conecta Empleo.</p>
				<p><b>Duraci&oacute;n:</b> 30 horas acad&eacute;micas.</p>
				<p><b>Certificada por:</b> Gerente General de Fundaci&oacute;n Telef&oacute;nica Venezuela. Ana Mar&iacute;a Mancera.</p>
				<p><b>Realizado el a&ntilde;o:</b> 2022.</p><br><br>

				<p><b>Certificado en:</b> Programaci&oacute;n con JavaScript.</p>
				<p><b>Dictado por:</b> Fundaci&oacute;n Telef&oacute;nica Movistar - Conecta Empleo.</p>
				<p><b>Duraci&oacute;n:</b> 40 horas acad&eacute;micas.</p>
				<p><b>Certificada por:</b> Gerente General de Fundaci&oacute;n Telef&oacute;nica Venezuela. Ana Mar&iacute;a Mancera.</p>
				<p><b>Realizado el a&ntilde;o:</b> 2022.</p><br><br>

				<p><b>Certificado en:</b> Dise&ntilde;o Web con HTML5 + CSS</p>
				<p><b>Dictado por:</b> Fundaci&oacute;n Telef&oacute;nica Movistar - Conecta Empleo.</p>
				<p><b>Duraci&oacute;n:</b> 30 horas acad&eacute;micas.</p>
				<p><b>Certificada por:</b> Gerente General de Fundaci&oacute;n Telef&oacute;nica Venezuela. Ana Mar&iacute;a Mancera.</p>
				<p><b>Realizado el a&ntilde;o:</b> 2022.</p><br><br>

				<p><b>Certificado en:</b> Gesti&oacute;n de Proyectos con Metodolog&iacute;as &Aacute;giles y Enfoques Lean</p>
				<p><b>Dictado por:</b> Fundaci&oacute;n Telef&oacute;nica Movistar - Conecta Empleo.</p>
				<p><b>Duraci&oacute;n:</b> 40 horas acad&eacute;micas.</p>
				<p><b>Certificada por:</b> Gerente General de Fundaci&oacute;n Telef&oacute;nica Venezuela. Ana Mar&iacute;a Mancera.</p>
				<p><b>Realizado el a&ntilde;o:</b> 2022.</p><br><br>

				<p><b>Certificado en:</b> Escritura Creativa.</p>
				<p><b>Dictado por:</b> Andr&eacute;s Sandoval y Natalia Oliveros.</p>
				<p><b>Duraci&oacute;n:</b> 8 horas acad&eacute;micas.</p>
				<p><b>Certificada por:</b> Andr&eacute;s Sandoval y Natalia Oliveros.</p>
				<p><b>Realizado el a&ntilde;o:</b> 2021.</p><br><br>

				<p><b>Certificado en:</b> Curso de Formaci&oacute;n en Liderazgo.</p>
				<p><b>Dictado por:</b> Red Joven Venezuela y Universidad Cat&oacute;lica Andr&eacute;s Bello.</p>
				<p><b>Duraci&oacute;n:</b> 72 horas acad&eacute;micas.</p>
				<p><b>Certificada por:</b> Red Joven Venezuela y Universidad Cat&oacute;lica Andr&eacute;s Bello.</p>
				<p><b>Realizado el a&ntilde;o:</b> 2020.</p><br><br>

				<p><b>Certificado en:</b> &iquest;Por qu&eacute; ser un Freelancer?</p>
				<p><b>Dictado por:</b> Axel Arias.</p>
				<p><b>Certificada por:</b><br> &nbsp;&nbsp; Consejero de la Facultad de Ciencias Econ&oacute;micas y  Sociales. Br. Jonathan Garc&iacute;a.<br>&nbsp; &nbsp;Presidente del Centro de Estudiantes de la Escuela de Administraci&oacute;n y Contadur&iacute;a de la Universidad Central de Venezuela. Br. Jos&eacute; Agustín.<br> &nbsp;&nbsp;Coordinador del Movimiento Visi&oacute;n de G&eacute;nero de la Universidad de Carabobo. Br. Arantza Salazar. <br> &nbsp;&nbsp;Consejero de Escuela de la la Facultad de Ciencias Económicas y Sociales. Br. Jos&eacute; González.</p> 
				<p><b>Realizado el a&ntilde;o:</b> 2020</p><br><br>

				<p><b>Certificado en:</b> Training de Oratoria. 7 d&iacute;as, 7 lecciones.</p>
				<p><b>Dictado por:</b> Director del Instituto de Oratoria de Valencia. Ender O&ntilde;ate.</p>
				<p><b>Duraci&oacute;n:</b> 13 horas acad&eacute;micas.</p>
				<p><b>Certificada por:</b> Director del Instituto de Oratoria de Valencia. Ender O&ntilde;ate.</p>
				<p><b>Realizado el a&ntilde;o:</b> 2020.</p><br><br>

				<p><b>Certificado en:</b> Cejas y Pesta&ntilde;as B&aacute;sico.</p>
				<p><b>Dictado por:</b> Gisely Roque.</p>
				<p><b>Certificada por:</b> Medicina Est&eacute;tica. Esteticista Integral y Masoterapeuta. Gisbely Roque. CEO de Spa del Olimpo.</p>
				<p><b>Realizado el a&ntilde;o:</b> 2020.</p><br><br>

				<p><b>Certificado en:</b> Voz Estudiantil Circuital.</p>
				<p><b>Participaci&oacute;n en:</b> Festival de la Voz Estudiantil Circuital del a&ntilde;o 2017.</p>
				<p><b>Certificada por:</b> Directora. Yamilet Henrique.</p>
				<p><b>Realizado el a&ntilde;o:</b> 2017.</p><br><br>
		</div>

		<div class="sidebar">
    		<center><img class ="myphoto-cv" src="../images/myphoto.png"><br></center>


			<h3 class="center"><b>SOBRE M&Iacute;</b></h3>
				<p><b>Nombres:</b> Mar&iacute;a Gabriela</p>
				<p><b>Apellidos:</b> Alvarado Arellano</p>
				<p><b>Estudiante de:</b> Ingenier&iacute;a en Inform&aacute;tica</p>
				<p><b>Junior Developer</b></p>
				<p><b>Edad:</b> 19 a&ntilde;os</p><br>

			<h3 class="center"><b>CONTACTO</b></h3>
				<p><img class="icono" src="../images/instagram.png"> &nbsp;<a href="https://www.instagram.com/soygaby_tech/">@soygaby_tech</a>,<a href="https://www.instagram.com/soygaby_music/"> @soygaby_music</a></p><br>

			<h3 class="center"><b>HABILIDADES</b></h3>
				<h3><b>SOFTWARE:</b></h3>
					<p>Excel &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="barra" src="../images/barra_media.png"></p> 
					<p>HTML &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="barra" src="../images/barra_75.png"></p>
					<p>CSS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="barra" src="../images/barra_75.png"></p>
					<p>PHP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="barra" src="../images/barra_media.png"></p><br>

				<h3><b>AUTONOM&Iacute;A</b></h3>
					<p>CorelDraw &nbsp;&nbsp;<img class="barra" src="../images/barra_75.png"></p>
					<p>InkScape &nbsp;&nbsp;&nbsp; <img class="barra" src="../images/barra_media.png"></p>
					<p>Ingl&eacute;s &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="barra" src="../images/barra_media.png"></p>
					<p>Piano &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="barra" src="../images/barra_75.png"></p>
					<p>Guitarra &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="barra" src="../images/barra_media.png"></p>
					<p>Flauta Dulce<img class="barra" src="../images/barra_completa.png"></p>
		</div>
	</div>
        <div style="margin-top:-20em;" class="footer">
        	<img class="logo-azul" src="../images/logo_azul.png">

        	<p class="footer-text">Mar&iacute;a Gabriela Alvarado Arellano</p>

        	<a href="https://www.instagram.com/soygaby_music/"><img class="icono" src="../images/instagram.png"> &nbsp; @soygaby_music</a> &nbsp;&nbsp;

        	<a href="https://www.instagram.com/soygaby_tech/"><img class="icono" src="../images/instagram.png"> &nbsp; @soygaby_tech</a>
        </div>

</body>
</html>